/* Debug BOX*/


/*body * {
    display: block;
    min-width: 20px;
    min-height: 20px;
    border: solid 1px red;
}*/


/* END Debug BOX*/

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to bottom, white, black);
    flex-wrap: nowrap;
    margin: 0px;
    min-height: 100vh;
}


/*=======================
=========================
========== NAV ==========
=========================
=======================*/

nav {
    background: url(../img/background_header.png);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
}


/*======== NAV ==========
=========================
========= LOGO ==========
=========================
=======================*/

#logo {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 2%;
    width: 5%;
    min-width: 45px;
}

@keyframes logo_anim {
    from {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    to {
        -ms-transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

#logo:hover {
    animation-name: logo_anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*======== NAV ==========
=========================
========= MAIN ==========
=========================
=======================*/

ul {
    list-style: none;
}

.link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50vw;
    padding: 0;
}

.link a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    border: 2px solid black;
    background: orangered;
    /*font-size: calc((2.8vw + 2.8vh)/4);*/
    font-size: 1em;
    margin: 0 3vw;
    height: calc(2.8vw + 2.8vh);
    width: calc(2.8vw + 2.8vh);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.link>a:hover {
    border: 4px solid black;
    margin: -2px calc(3vw - 2px);
}

.link>li>ul {
    display: none;
}

.link>li:hover>ul {
    position: absolute;
    display: block;
}


/*======== NAV ==========
=========================
========= MAIN ==========
======== MEDIA! =========
=======================*/

@media screen and (max-width: 640px) {
    .link {
        width: 75vw;
    }
}


/*=======================
=========================
========= MAIN! =========
=========================
=======================*/

body>main {
    padding-top: calc(5vw + 5vh);
    margin: 0px 10vw;
    height: 80vh;
    background: white;
}


/*=======================
=========================
========= FOOTER ========
=========================
=======================*/

footer {
    background: violet;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

footer>ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35vw;
    list-style: none;
}


/*=======================
======== LE CARRE =======
===== SUPER MAGIQUE =====
=======================*/


/*@keyframes carre {
    0% {
        border-radius: 0px;
        background: red;
        top: 0%;
        left: 0%;
        width: 10vw;
        height: 20vh;
    }
    25% {
        border-radius: 100%;
        background: red;
        top: 0%;
        left: 90vw;
        width: 10vw;
        height: 20vh;
    }
    50% {
        border-radius: 0px;
        background: red;
        top: 60vh;
        left: 80vw;
        width: 20vw;
        height: 40vh;
    }
    75% {
        background: green;
        top: 80vh;
        left: 0%;
        width: 30vw;
        height: 20vh;
    }
    100% {
        background: red;
        top: 0%;
        left: 0%;
        width: 10vw;
        height: 20vh;
    }
}

#carre_rouge {
    position: absolute;
    background: red;
    animation-name: carre;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: logo_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}*/