* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: magenta;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: blue;
    height: 5em;
}
#img1 {
    background: black;
    width: 5em;
    height: 5em;
}

#nav {
    display: flex;
    align-items: center;
    height: 3em;
    background: red;
}

#nav > ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    width: 100%;
} 

#main {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    background: grey;
    width: 50%;
    margin: 0 auto;
}

#img2 {
    background: black;
    width: 5em;
    height: 5em;
    margin: 0 auto;
}

#footer {
    background: green;
}

#footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

li {
    background: yellow;
}